.container,
.left,
.right,
.middle {
    border: 1px solid #999;
    padding: 10px;
    font-family: "Segoe UI", Segoe, Calibri, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.6;
}

.container{
	display: box;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	border: 1px solid #999;
	background-color: #eee;
	overflow: auto;
    min-width: 600px;
}

.left{
	-moz-box-ordinal-group: 1;
	-webkit-box-ordinal-group: 1;
	box-ordinal-group: 1;
	width: 12em;
	margin:0 20px 40px 20px;
	background-color: white;
}
.left img{
	width: 80px;
	height: 80px;
	float: left;
	margin: 10px;
}
.middle{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	-moz-box-ordinal-group: 2;
	-webkit-box-ordinal-group: 2;
	box-ordinal-group: 2;
	
	background-color: white;

}
.right{
	-moz-box-ordinal-group: 3;
	-webkit-box-ordinal-group: 3;
	box-ordinal-group: 3;
	width: 10em;
	margin:0 20px 40px 20px;
	background-color: white;

}
.right img{
	width: 80px;
	height: 80px;
	border: 1px solid yellow;
    margin: 10px;
}
.imgcenter{
	text-align: center;
}
